{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
</head>
<body class="bg-light">
    {% include 'navigation.html' %}
    <div class="container bg-white p-5 shadow">
        <div class="row">
            <div class="col-md-12">
                <div class="heading d-flex border-bottom pb-4">
                    <img src="{% static 'includes/images/logo.jpg' %}" alt="logo" height="120" width="120"/>
                    <div class="ms-4 mt-3">
                        <div class="h4">Attendance Monitoring</div>
                        <div class="fs-5" style="margin-top: -5px">Sinonoc, Sinacaban, Misamis Occidental</div>
                        <div class="text-secondary">Today <span id="time"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-4">
            <div class="col-md-7">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="h5">Announcements</div>
                    <small><a href="#">Show All</a></small>
                </div>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-new-tab" data-bs-toggle="tab" data-bs-target="#nav-new" type="button" role="tab" aria-controls="nav-new" aria-selected="true">Latest</button>
                        <button class="nav-link" id="nav-old-tab" data-bs-toggle="tab" data-bs-target="#nav-old" type="button" role="tab" aria-controls="nav-old" aria-selected="false">Previous</button>
                    </div>
                </nav>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
                    <div class="p-2">
                        <div class="p-2 mb-2 border-bottom">
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-teal">
                                    <span id="time"></span>
                                <small>
                            </div>
                            <div class="lead text-teal"><b>Today's Announcements</b></div>
                            <div class="mb-2">
                                Where having an meeting in May 29
                            </div>
                        </div>
                        <div class="p-2 text-center text-secondary">No latest announcement found.</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-old" role="tabpanel" aria-labelledby="nav-old-tab">
                    <div class="p-2">
                        <div class="p-2 mb-2 border-bottom">
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-teal">
                                    <span id="time"></span>
                                </small>
                            </div>
                            <div class="lead text-teal"><b>Yesterday's Announcements</b></div>
                            <div class="mb-2">
                                Some Announcements displays here
                            </div>
                        </div>
                        <div class="p-2 text-center text-secondary">No previous announcement found.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="h5">Events</div>
                <small><a href="event.php">Show All</a></small>
            </div>
            <nav>
                <div class="nav nav-tabs" id="nav-evt-tab" role="tablist">
                    <button class="nav-link active" id="nav-evtnew-tab" data-bs-toggle="tab" data-bs-target="#nav-evtnew" type="button" role="tab" aria-controls="nav-evtnew" aria-selected="true">Latest</button>
                    <button class="nav-link" id="nav-evtold-tab" data-bs-toggle="tab" data-bs-target="#nav-evtold" type="button" role="tab" aria-controls="nav-evtold" aria-selected="false">Previous</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent2">
                <div class="tab-pane fade show active" id="nav-evtnew" role="tabpanel" aria-labelledby="nav-evtnew-tab">
                    <div class="p-2">
                        <div class="p-2 mb-2 border-bottom d-flex">
                            <div class="bg-teal p-2" style="width:70px; height:75px;">
                                <div class="text-center text-white">some info</div>
                                <div class="border-bottom"></div>
                                <div class="text-center text-white fs-4">well be display here</div>
                            </div>
                            <div class="title ms-3">
                                <div class="lead text-teal"><b>Sample Events</b></div>
                                <div>Sample Venue</div>
                                <div>7:40AM</div>
                            </div>
                        </div>
                        <div class="p-2 text-center text-secondary">No event found.</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-evtold" role="tabpanel" aria-labelledby="nav-evtold-tab">
                    <div class="p-2">
                        <div class="bg-teal p-2" style="width:70px; height:75px;">
                            <div class="text-center text-white">some info</div>
                            <div class="border-bottom"></div>
                            <div class="text-center text-white fs-4">well be display here</div>
                        </div>
                        <div class="title ms-3">
                            <div class="lead text-teal"><b>Sample Events</b></div>
                            <div>Sample Venue</div>
                            <div>7:40AM</div>
                        </div>
                    </div>
                    <div class="p-2 text-center text-secondary">No previous event found.</div>
                </div>
            </div>
        </div>
        <div class="mt-5"></div>
    </div>
    <script>
        setInterval(myTime, 1000);

        myTime();

        function myTime(){
            const d = new Date();
            document.getElementById("time").innerHTML = d.toLocaleTimeString();
        }
        $('#mnuHome')
            .addClass('active')
            .attr('aria-current', 'page')
            .attr('href', '#');
    </script>
    {% include 'footer.html' %}
</body>
</html>